/* Cabeçalho */

#fundo{
    width: 100vw;   /*100% da largura da  tela*/
    height: 30vw;   /* 100% da altura da tela*/
    background:url(imagens/fundo1.jpg);
    background-size: 100%;
    background-attachment:fixed;
}

.logo{
    position: absolute;
    left: 40px;
    text-decoration: underline;
    font-size: 70px;
    font-weight: bold;
    padding: 40px 0;
    color: rgb(255, 255, 255);
}

.cadastro {
    position: absolute;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    top: 35%;
    right: 40%;
    color: rgb(255, 255, 255);
}

.cadastro:hover{
    font-size: 58px;
    color: black;
    text-decoration: underline;
}

.entrar{
    font-size: 30px;
    text-decoration: none;
    color: #ffffff;
    position: absolute;
    right: 43px;
    top: 30px;
}
.entrar:hover{
    font-size: 38px;
    color: black;
    text-decoration: none;
}
/* fim cabeçalho */

/* página de entrada */

#entrada{
    width: 100%;
    height: 50vw;
    background: url(imagens/entrada.jpg) ;
    background-attachment: fixed;
    background-size: cover;
}

.formulario{
    width: 400px;
     margin:100px 870px;/*centraliza */
     padding-top: 40px;
}

.usuario{
    box-shadow: 1px 1px 5px #ffffff;      /* uma cor de fundo(sombra)   */
    background-color: #ffffff;
    padding: 5px;
    border-radius: 10px;
}

.conteudo{
    text-align: center;
}

.conteudo p {
    font-weight: bold;
}

.titulologin{
    color:rgb(12, 23, 144);
    font-size: 30px;
    padding: 10px 0;
    font-weight: bold;
}

.login > label{
    width: 100px;
    color: rgb(169, 0, 0);
    margin: 20px 10px 10px 10px ;
    display: block;

}

.login > input{
    width: 87%;
    height: 25px;
    padding: 5px;
    margin: 10px;
}

.login > button{
    background-image: linear-gradient(to right, rgb(172, 0, 0), blue);
    border-radius: 40px;
    width: 100%;
    font-size: 20px;
    padding: 10px;
    color: rgb(255, 255, 255);
    border: 0px;
    margin-bottom: 15px;
}

.login > button:hover{
    font-size: 30px ;
    transform: scale(1);
}

/* pagina de cadastro */

.login-pet{
    position: absolute;
    right: 40px;
    top: 50px;
    text-decoration: none;
    font-size: 25px;
    color: #000;
}

.home{
    position: absolute;
    left: 40px;
    top: 50px;
    text-decoration: none;
    font-size: 25px;
    color: #000;
}

.login-pet:hover, .home:hover{
    font-size: 29px;
    text-decoration: underline;
}

.imglogo{
    width: 100%;
    height: 240px;
}

main h1{
    text-align: center;
    padding: 30px 0 30px 0;
    font-weight: bold;
    font-size: 40px;
}

.pet{
    margin: 20px 0 25px 50px;
}

.pet label, .porte label, legend, .sexo label{
    font-size: 23px;
    font-weight: bold;
    display: block;

}

.pet input{
    width: 40%;
    height: 28px;
    margin: 20px 0 20px 0;
}

.porte, .sexo, fieldset {
     margin:30px 0 10px 50px ;
     padding: 10px 10px 10px 10px;
}



.entra-cadastro{
    width: 30%;
    padding: 10px;
    margin: 20px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    color: blue;
    background: orange;
}

.entra-cadastro:hover{
    font-size: 25px;
}