#conteine{
    width: 100vw;   /*100% da largura da  tela*/
    height: 30vw;   /* 100% da altura da tela*/
    background:url(imagens/fundo1.jpg);
    background-size: 100%;
    background-attachment:fixed;
}

.logo{
    position: absolute;
    left: 40px;
    text-decoration: underline;
    font-size: 70px;
    font-weight: bold;
    padding: 40px 0;
    color: rgb(255, 255, 255);
}

.cadastro {
    position: absolute;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    top: 35%;
    right: 40%;
    color: rgb(255, 255, 255);
}

.cadastro:hover{
    color: black;
}